@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(40, 51, 149);
}

input {
  border: 2px solid rgb(0, 0, 0);
}

.search {
  margin: 0 auto;
  text-align: center;
}

.results {
  display: flex;
  justify-content: space-around;
  opacity: 0;
}

.result {
  padding: .5em;
  text-align: left;
  flex-basis: 30vw;
  border-radius: 12px;
  border: 2px solid rgb(227, 227, 227);
  background: rgb(253, 253, 253);
}



section.categories {
  margin: 0 auto;
  width: 66vw;
}

div.categories {
  display: flex;
  justify-content: space-between;
}

.category {
  flex-basis: 20%;
  padding: .5em;
  border-radius: 12px;
  border: 2px solid rgb(227, 227, 227);
  background: rgb(253, 253, 253);
}

.active {
  border: 2px solid rgb(253, 253, 253);
  color: rgb(253, 253, 253);
  background: rgb(40, 51, 149);
}
