main {
  color: rgb(241, 255, 233);
  text-shadow: 1px 1px 0px rgba(98, 109, 84, 0.762),
               1px 1px 2px rgb(66, 77, 52);
  margin: 0 auto;
  width: 66vw;
  min-height: 66vh;
  background: rgb(98, 109, 84);
}

a {
  color: rgb(255, 236, 161);
}

header, form {
  padding: 2em;
  margin: 0 auto;
  background: rgb(147, 177, 129);
}

input.search {
  text-align: center;
  color: rgb(241, 255, 233);
}

thead td, tr td:nth-child(1) {
  background: rgba(98, 109, 84, 0.762);
}

tr:hover {
  background: rgba(128, 121, 67, 0.762);
}

tr {
  transition: background .1s ease-out;
}

table, td {
  text-align: center;
  background: rgba(193, 233, 170, 0.563);
  border: 2px solid rgba(98, 109, 84, 0.762);
}

.hidden {
  display: none;
}
